/*  your css code here. If applicable */
nav {
    background-color: rgb(211, 211, 211);
    padding: 10px;
}

.container{
    list-style: none; /* Remove bullets */
    padding: 0; /* Remove default padding */
    margin: 0; /* Remove default margin */
}

.nav-bar li {
    display: inline; /* Display items horizontally */
    margin-right: 1rem; /* Add space between items */
}
